@use 'sass:map';
@use '../../helpers' as *;
@use 'configs';
@forward 'styles';

@mixin icon($overrides: ()) {
  $config: map-deep-merge(configs.$default, $overrides);

  @include generate-declarations('', $config, ('grade-light', 'grade-dark'));

  :root#{$light} & {
    --icon-grade: #{map.get($config, 'grade-light')};
  }
  :root#{$dark} & {
    --icon-grade: #{map.get($config, 'grade-dark')};
  }
}

.md-icon {
  @include icon();
}
