@use 'sass:map';
@use '../../helpers' as *;
@use 'config';

@mixin typeface($overrides: ()) {
  $config: map-deep-merge(config.$default, $overrides);

  @include generate-declarations('--md-ref-typeface-', $config);
}

:root {
  @include typeface();
}
