@use 'helpers' as *;

$typeface: (
  brand: (
    'Google Sans',
    sans-serif,
  ),
  plain: (
    Roboto,
    sans-serif,
  ),
  weight-regular: 400,
  weight-medium: 500,
  weight-bold: 700,
);

:root {
  @include generate-token($typeface);
}
