@use 'sass:map';

$palettes: (
  'primary': (
    100: #fff,
    99: #fffbfe,
    98: #fef7ff,
    95: #f6edff,
    90: #eaddff,
    80: #d0bcff,
    70: #b69df8,
    60: #9a82db,
    50: #7f67be,
    40: #6750a4,
    30: #4f378b,
    20: #381e72,
    10: #21005d,
    0: #000,
  ),
  'secondary': (
    100: #fff,
    99: #fffbfe,
    98: #fef7ff,
    95: #f6edff,
    90: #e8def8,
    80: #ccc2dc,
    70: #b0a7c0,
    60: #958da5,
    50: #7a7289,
    40: #625b71,
    30: #4a4458,
    20: #332d41,
    10: #1d192b,
    0: #000,
  ),
  'tertiary': (
    100: #fff,
    99: #fffbfa,
    98: #fff8f8,
    95: #ffecf1,
    90: #ffd8e4,
    80: #efb8c8,
    70: #d29dac,
    60: #b58392,
    50: #986977,
    40: #7d5260,
    30: #633b48,
    20: #492532,
    10: #31111d,
    0: #000,
  ),
  'error': (
    100: #fff,
    99: #fffbf9,
    98: #fff8f7,
    95: #fceeee,
    90: #f9dedc,
    80: #f2b8b5,
    70: #ec928e,
    60: #e46962,
    50: #dc362e,
    40: #b3261e,
    30: #8c1d18,
    20: #601410,
    10: #410e0b,
    0: #000,
  ),
  'neutral': (
    100: #fff,
    99: #fffbff,
    98: #fef7ff,
    96: #f7f2fa,
    95: #f5eff7,
    94: #f3edf7,
    92: #ece6f0,
    90: #e6e0e9,
    87: #ded8e1,
    80: #cac5cd,
    70: #aea9b1,
    60: #938f96,
    50: #79767d,
    40: #605d64,
    30: #48464c,
    24: #3b383e,
    22: #36343b,
    20: #322f35,
    17: #2b2930,
    12: #211f26,
    10: #1d1b20,
    6: #141218,
    4: #0f0d13,
    0: #000,
  ),
  'neutral-variant': (
    100: #fff,
    99: #fffbfe,
    98: #fdf7ff,
    95: #f5eefa,
    90: #e7e0ec,
    80: #cac4d0,
    70: #aea9b4,
    60: #938f99,
    50: #79747e,
    40: #605d66,
    30: #49454f,
    20: #322f37,
    10: #1d1a22,
    0: #000,
  ),
);

:root {
  @each $palette, $tones in $palettes {
    @each $tone, $color in $tones {
      --md-ref-palette-#{$palette}#{$tone}: #{$color};
    }
  }
}
