@use 'sass:map';

$palettes: (
  'blue': (
    100: #fff,
    98: #f5faff,
    95: #e7f2ff,
    90: #d0e4ff,
    80: #a1c9ff,
    70: #76acff,
    60: #4e8ff8,
    50: #3271ea,
    40: #1157ce,
    30: #04409f,
    20: #012c6f,
    10: #001944,
    0: #000,
  ),
  'yellow': (
    100: #fff,
    98: #fffade,
    95: #fff2b4,
    90: #ffe07c,
    80: #fcbd00,
    70: #ef9800,
    60: #d37b00,
    50: #b16300,
    40: #8f4e06,
    30: #6d3a01,
    20: #4d2600,
    10: #2f1400,
    0: #000,
  ),
  'red': (
    100: #fff,
    98: #fff8f8,
    95: #ffecee,
    90: #ffdadc,
    80: #ffb3ae,
    70: #ff8983,
    60: #f55e57,
    50: #db372d,
    40: #b3251e,
    30: #8a1a16,
    20: #60150f,
    10: #3a0907,
    0: #000,
  ),
  'purple': (
    100: #fff,
    98: #fdf8ff,
    95: #f7ecfe,
    90: #eedcfe,
    80: #d9bafd,
    70: #c597ff,
    60: #ad72ff,
    50: #9254ea,
    40: #7438d2,
    30: #5629a4,
    20: #400b84,
    10: #280255,
    0: #000,
  ),
  'blue-variant': (
    100: #fff,
    98: #f4faff,
    95: #e0f4ff,
    90: #bde9ff,
    80: #67d4ff,
    70: #00bbea,
    60: #009dc9,
    50: #0081a8,
    40: #006788,
    30: #004d68,
    20: #003549,
    10: #001f2d,
    0: #000,
  ),
  'cyan': (
    100: #fff,
    98: #f0fbff,
    95: #d8f6ff,
    90: #acedff,
    80: #60d5f3,
    70: #00bbdf,
    60: #009ebb,
    50: #00839b,
    40: #00687c,
    30: #004e5d,
    20: #003641,
    10: #001f26,
    0: #000,
  ),
  'grey': (
    100: #fff,
    98: #f9f9f9,
    95: #f2f2f2,
    90: #e3e3e3,
    80: #c7c7c7,
    70: #ababab,
    60: #919191,
    50: #777,
    40: #5e5e5e,
    30: #474747,
    20: #303030,
    10: #1b1b1c,
    0: #000,
  ),
  'green': (
    100: #fff,
    98: #f2fcef,
    95: #ddf8d8,
    90: #beefbb,
    80: #80da88,
    70: #44c265,
    60: #1aa64a,
    50: #128937,
    40: #006c35,
    30: #00522c,
    20: #00381f,
    10: #002110,
    0: #000,
  ),
  'grey-variant': (
    100: #fff,
    98: #f7faf7,
    95: #eff2ef,
    90: #e1e3e1,
    80: #c4c7c5,
    70: #a9acaa,
    60: #8e918f,
    50: #747775,
    40: #5c5f5e,
    30: #444746,
    20: #2d312f,
    10: #191d1c,
    0: #000,
  ),
  'orange': (
    100: #fff,
    98: #fff8f4,
    95: #ffede1,
    90: #ffdcc3,
    80: #ffb683,
    70: #ff8d41,
    60: #e86e00,
    50: #c05a01,
    40: #9a4600,
    30: #753403,
    20: #522302,
    10: #321200,
    0: #000,
  ),
  'pink': (
    100: #fff,
    98: #fff7fc,
    95: #ffecf6,
    90: #ffd8ef,
    80: #ffaee4,
    70: #ff7dd2,
    60: #f94aab,
    50: #dc258d,
    40: #b60d6e,
    30: #8d0053,
    20: #620438,
    10: #3d0023,
    0: #000,
  ),
);

:root {
  --md-ref-palette-white: #fff;
  --md-ref-palette-black: #000;

  @each $palette, $tones in $palettes {
    @each $tone, $color in $tones {
      --md-ref-palette-#{$palette}#{$tone}: #{$color};
    }
  }
}
