.dark-medium-contrast {
  --md-sys-color-primary: #eaddff;
  --md-sys-color-on-primary: #21005d;
  --md-sys-color-primary-container: #9a82db;
  --md-sys-color-on-primary-container: #000;
  --md-sys-color-secondary: #e8def8;
  --md-sys-color-on-secondary: #1d192b;
  --md-sys-color-secondary-container: #958da5;
  --md-sys-color-on-secondary-container: #000;
  --md-sys-color-tertiary: #ffd8e4;
  --md-sys-color-on-tertiary: #31111d;
  --md-sys-color-tertiary-container: #b58392;
  --md-sys-color-on-tertiary-container: #000;
  --md-sys-color-error: #f9dedc;
  --md-sys-color-on-error: #410e0b;
  --md-sys-color-error-container: #e46962;
  --md-sys-color-on-error-container: #000;
  --md-sys-color-surface: #141218;
  --md-sys-color-on-surface: #fff;
  --md-sys-color-surface-variant: #49454f;
  --md-sys-color-on-surface-variant: #e7e0ec;
  --md-sys-color-surface-container-highest: #36343b;
  --md-sys-color-surface-container-high: #2b2930;
  --md-sys-color-surface-container: #211f26;
  --md-sys-color-surface-container-low: #1d1b20;
  --md-sys-color-surface-container-lowest: #0f0d13;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #1d1b20;
  --md-sys-color-outline: #aea9b4;
  --md-sys-color-outline-variant: #938f99;
  --md-sys-color-primary-fixed: #eaddff;
  --md-sys-color-on-primary-fixed: #000;
  --md-sys-color-primary-fixed-dim: #d0bcff;
  --md-sys-color-on-primary-fixed-variant: #381e72;
  --md-sys-color-inverse-primary: #4f378b;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-on-secondary-fixed: #000;
  --md-sys-color-secondary-fixed-dim: #ccc2dc;
  --md-sys-color-on-secondary-fixed-variant: #332d41;
  --md-sys-color-tertiary-fixed: #ffd8e4;
  --md-sys-color-on-tertiary-fixed: #000;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed-variant: #492532;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
}
