.dark {
  --md-sys-color-primary: #d0bcff;
  --md-sys-color-on-primary: #381e72;
  --md-sys-color-primary-container: #4f378b;
  --md-sys-color-on-primary-container: #eaddff;
  --md-sys-color-secondary: #ccc2dc;
  --md-sys-color-on-secondary: #332d41;
  --md-sys-color-secondary-container: #4a4458;
  --md-sys-color-on-secondary-container: #e8def8;
  --md-sys-color-tertiary: #efb8c8;
  --md-sys-color-on-tertiary: #492532;
  --md-sys-color-tertiary-container: #633b48;
  --md-sys-color-on-tertiary-container: #ffd8e4;
  --md-sys-color-error: #f2b8b5;
  --md-sys-color-on-error: #601410;
  --md-sys-color-error-container: #8c1d18;
  --md-sys-color-on-error-container: #f9dedc;
  --md-sys-color-surface: #141218;
  --md-sys-color-on-surface: #e6e0e9;
  --md-sys-color-surface-variant: #49454f;
  --md-sys-color-on-surface-variant: #cac4d0;
  --md-sys-color-surface-container-highest: #36343b;
  --md-sys-color-surface-container-high: #2b2930;
  --md-sys-color-surface-container: #211f26;
  --md-sys-color-surface-container-low: #1d1b20;
  --md-sys-color-surface-container-lowest: #0f0d13;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #938f99;
  --md-sys-color-outline-variant: #49454f;
  --md-sys-color-primary-fixed: #eaddff;
  --md-sys-color-on-primary-fixed: #21005d;
  --md-sys-color-primary-fixed-dim: #d0bcff;
  --md-sys-color-on-primary-fixed-variant: #4f378b;
  --md-sys-color-inverse-primary: #6750a4;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-on-secondary-fixed: #1d192b;
  --md-sys-color-secondary-fixed-dim: #ccc2dc;
  --md-sys-color-on-secondary-fixed-variant: #4a4458;
  --md-sys-color-tertiary-fixed: #ffd8e4;
  --md-sys-color-on-tertiary-fixed: #31111d;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed-variant: #633b48;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
}
