.light {
  --md-sys-color-primary: #6750a4;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-primary-container: #eaddff;
  --md-sys-color-on-primary-container: #4f378b;
  --md-sys-color-secondary: #625b71;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #4a4458;
  --md-sys-color-tertiary: #7d5260;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-tertiary-container: #ffd8e4;
  --md-sys-color-on-tertiary-container: #633b48;
  --md-sys-color-error: #b3261e;
  --md-sys-color-on-error: #fff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #8c1d18;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-on-surface: #1d1b20;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #49454f;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-surface-container-high: #ece6f0;
  --md-sys-color-surface-container: #f3edf7;
  --md-sys-color-surface-container-low: #f7f2fa;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-inverse-on-surface: #f5eff7;
  --md-sys-color-outline: #79747e;
  --md-sys-color-outline-variant: #cac4d0;
  --md-sys-color-primary-fixed: #eaddff;
  --md-sys-color-on-primary-fixed: #21005d;
  --md-sys-color-primary-fixed-dim: #d0bcff;
  --md-sys-color-on-primary-fixed-variant: #4f378b;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-on-secondary-fixed: #1d192b;
  --md-sys-color-secondary-fixed-dim: #ccc2dc;
  --md-sys-color-on-secondary-fixed-variant: #4a4458;
  --md-sys-color-tertiary-fixed: #ffd8e4;
  --md-sys-color-on-tertiary-fixed: #31111d;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed-variant: #633b48;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-dim: #ded8e1;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
}
