.light-high-contrast {
  --md-sys-color-primary: #381e72;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-primary-container: #4f378b;
  --md-sys-color-on-primary-container: #fff;
  --md-sys-color-secondary: #332d41;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #4a4458;
  --md-sys-color-on-secondary-container: #fff;
  --md-sys-color-tertiary: #492532;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-tertiary-container: #633b48;
  --md-sys-color-on-tertiary-container: #fff;
  --md-sys-color-error: #601410;
  --md-sys-color-on-error: #fff;
  --md-sys-color-error-container: #8c1d18;
  --md-sys-color-on-error-container: #fff;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-on-surface: #000;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #000;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-surface-container-high: #ece6f0;
  --md-sys-color-surface-container: #f3edf7;
  --md-sys-color-surface-container-low: #f7f2fa;
  --md-sys-color-surface-container-lowest: #fff;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-inverse-on-surface: #fff;
  --md-sys-color-outline: #322f37;
  --md-sys-color-outline-variant: #49454f;
  --md-sys-color-primary-fixed: #4f378b;
  --md-sys-color-on-primary-fixed: #fff;
  --md-sys-color-primary-fixed-dim: #381e72;
  --md-sys-color-on-primary-fixed-variant: #fff;
  --md-sys-color-inverse-primary: #d0bcff;
  --md-sys-color-secondary-fixed: #4a4458;
  --md-sys-color-on-secondary-fixed: #fff;
  --md-sys-color-secondary-fixed-dim: #332d41;
  --md-sys-color-on-secondary-fixed-variant: #fff;
  --md-sys-color-tertiary-fixed: #633b48;
  --md-sys-color-on-tertiary-fixed: #fff;
  --md-sys-color-tertiary-fixed-dim: #492532;
  --md-sys-color-on-tertiary-fixed-variant: #fff;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-dim: #ded8e1;
  --md-sys-color-shadow: #000;
  --md-sys-color-scrim: #000;
}
