@use 'sass:map';
@use '../typeface' as *;

$typescale: (
  display: (
    large: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 57px,
      tracking: -0.25px,
      line-height: 64px
    ),
    medium: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 45px,
      tracking: 0,
      line-height: 52px
    ),
    small: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 36px,
      tracking: 0,
      line-height: 44px
    )
  ),
  headline: (
    large: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 32px,
      tracking: 0,
      line-height: 40px
    ),
    medium: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 28px,
      tracking: 0,
      line-height: 36px
    ),
    small: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 24px,
      tracking: 0,
      line-height: 32px
    )
  ),
  title: (
    large: (
      font: map.get($typeface, brand),
      weight: map.get($typeface, weight-regular),
      size: 22px,
      tracking: 0,
      line-height: 28px
    ),
    medium: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-medium),
      size: 16px,
      tracking: 0.15px,
      line-height: 24px
    ),
    small: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-medium),
      size: 14px,
      tracking: 0.1px,
      line-height: 20px
    )
  ),
  body: (
    large: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-regular),
      size: 16px,
      tracking: 0.5px,
      line-height: 24px
    ),
    medium: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-regular),
      size: 14px,
      tracking: 0.25px,
      line-height: 20px
    ),
    small: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-regular),
      size: 12px,
      tracking: 0.4px,
      line-height: 16px
    )
  ),
  label: (
    large: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-medium),
      size: 14px,
      tracking: 0.1px,
      line-height: 20px
    ),
    medium: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-medium),
      size: 12px,
      tracking: 0.5px,
      line-height: 16px
    ),
    small: (
      font: map.get($typeface, plain),
      weight: map.get($typeface, weight-medium),
      size: 11px,
      tracking: 0.5px,
      line-height: 16px
    )
  )
);

@mixin typescale($name, $size) {
  @if map.has-key($typescale, $name, $size) {
    $style-map: map.get($typescale, $name, $size);

    font-family: map.get($style-map, font);
    font-weight: map.get($style-map, weight);
    font-size: map.get($style-map, size);
    letter-spacing: map.get($style-map, tracking);
    line-height: map.get($style-map, line-height);
  }
}

@each $name, $sizes in $typescale {
  @each $size, $value in $sizes {
    .yu-typescale-#{$name}-#{$size} {
      @include typescale($name, $size);
    }
  }
}
