@use 'sass:map';
@use '../typeface' as *;

$typescale-emphasized: (
  display: (
    large: (
      font: map.get($typeface, brand),
      line-height: 64px,
      size: 57px,
      weight: map.get($typeface, weight-medium),
      tracking: -0.25px
    ),
    medium: (
      font: map.get($typeface, brand),
      line-height: 52px,
      size: 45px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    ),
    small: (
      font: map.get($typeface, brand),
      line-height: 44px,
      size: 36px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    )
  ),
  headline: (
    large: (
      font: map.get($typeface, brand),
      line-height: 40px,
      size: 32px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    ),
    medium: (
      font: map.get($typeface, brand),
      line-height: 36px,
      size: 28px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    ),
    small: (
      font: map.get($typeface, brand),
      line-height: 32px,
      size: 24px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    )
  ),
  title: (
    large: (
      font: map.get($typeface, brand),
      line-height: 28px,
      size: 22px,
      weight: map.get($typeface, weight-medium),
      tracking: 0
    ),
    medium: (
      font: map.get($typeface, plain),
      line-height: 24px,
      size: 16px,
      weight: map.get($typeface, weight-bold),
      tracking: 0.15px
    ),
    small: (
      font: map.get($typeface, plain),
      line-height: 20px,
      size: 14px,
      weight: map.get($typeface, weight-bold),
      tracking: 0.1px
    )
  ),
  body: (
    large: (
      font: map.get($typeface, plain),
      line-height: 24px,
      size: 16px,
      weight: map.get($typeface, weight-medium),
      tracking: 0.5px
    ),
    medium: (
      font: map.get($typeface, plain),
      line-height: 20px,
      size: 14px,
      weight: map.get($typeface, weight-medium),
      tracking: 0.25px
    ),
    small: (
      font: map.get($typeface, plain),
      line-height: 16px,
      size: 12px,
      weight: map.get($typeface, weight-medium),
      tracking: 0.4px
    )
  ),
  label: (
    large: (
      font: map.get($typeface, plain),
      line-height: 20px,
      size: 14px,
      weight: map.get($typeface, weight-bold),
      tracking: 0.1px
    ),
    medium: (
      font: map.get($typeface, plain),
      line-height: 16px,
      size: 12px,
      weight: map.get($typeface, weight-bold),
      tracking: 0.5px
    ),
    small: (
      font: map.get($typeface, plain),
      line-height: 16px,
      size: 11px,
      weight: map.get($typeface, weight-bold),
      tracking: 0.5px
    )
  )
);

@mixin typescale-emphasized($name, $size) {
  @if map.has-key($typescale-emphasized, $name, $size) {
    $style-map: map.get($typescale-emphasized, $name, $size);

    font-family: map.get($style-map, font);
    font-weight: map.get($style-map, weight);
    font-size: map.get($style-map, size);
    letter-spacing: map.get($style-map, tracking);
    line-height: map.get($style-map, line-height);
  }
}

@each $name, $sizes in $typescale-emphasized {
  @each $size, $value in $sizes {
    .yu-typescale-emphasized-#{$name}-#{$size} {
      @include typescale-emphasized($name, $size);
    }
  }
}
