@use 'sass:map';

$emphasized: (
  display: (
    large: (
      font: var(--md-sys-typescale-emphasized-display-large-font),
      line-height: var(--md-sys-typescale-emphasized-display-large-line-height),
      size: var(--md-sys-typescale-emphasized-display-large-size),
      weight: var(--md-sys-typescale-emphasized-display-large-weight),
      tracking: var(--md-sys-typescale-emphasized-display-large-tracking),
    ),
    medium: (
      font: var(--md-sys-typescale-emphasized-display-medium-font),
      line-height: var(--md-sys-typescale-emphasized-display-medium-line-height),
      size: var(--md-sys-typescale-emphasized-display-medium-size),
      weight: var(--md-sys-typescale-emphasized-display-medium-weight),
      tracking: var(--md-sys-typescale-emphasized-display-medium-tracking),
    ),
    small: (
      font: var(--md-sys-typescale-emphasized-display-small-font),
      line-height: var(--md-sys-typescale-emphasized-display-small-line-height),
      size: var(--md-sys-typescale-emphasized-display-small-size),
      weight: var(--md-sys-typescale-emphasized-display-small-weight),
      tracking: var(--md-sys-typescale-emphasized-display-small-tracking),
    ),
  ),
  headline: (
    large: (
      font: var(--md-sys-typescale-emphasized-headline-large-font),
      line-height: var(--md-sys-typescale-emphasized-headline-large-line-height),
      size: var(--md-sys-typescale-emphasized-headline-large-size),
      weight: var(--md-sys-typescale-emphasized-headline-large-weight),
      tracking: var(--md-sys-typescale-emphasized-headline-large-tracking),
    ),
    medium: (
      font: var(--md-sys-typescale-emphasized-headline-medium-font),
      line-height: var(--md-sys-typescale-emphasized-headline-medium-line-height),
      size: var(--md-sys-typescale-emphasized-headline-medium-size),
      weight: var(--md-sys-typescale-emphasized-headline-medium-weight),
      tracking: var(--md-sys-typescale-emphasized-headline-medium-tracking),
    ),
    small: (
      font: var(--md-sys-typescale-emphasized-headline-small-font),
      line-height: var(--md-sys-typescale-emphasized-headline-small-line-height),
      size: var(--md-sys-typescale-emphasized-headline-small-size),
      weight: var(--md-sys-typescale-emphasized-headline-small-weight),
      tracking: var(--md-sys-typescale-emphasized-headline-small-tracking),
    ),
  ),
  title: (
    large: (
      font: var(--md-sys-typescale-emphasized-title-large-font),
      line-height: var(--md-sys-typescale-emphasized-title-large-line-height),
      size: var(--md-sys-typescale-emphasized-title-large-size),
      weight: var(--md-sys-typescale-emphasized-title-large-weight),
      tracking: var(--md-sys-typescale-emphasized-title-large-tracking),
    ),
    medium: (
      font: var(--md-sys-typescale-emphasized-title-medium-font),
      line-height: var(--md-sys-typescale-emphasized-title-medium-line-height),
      size: var(--md-sys-typescale-emphasized-title-medium-size),
      weight: var(--md-sys-typescale-emphasized-title-medium-weight),
      tracking: var(--md-sys-typescale-emphasized-title-medium-tracking),
    ),
    small: (
      font: var(--md-sys-typescale-emphasized-title-small-font),
      line-height: var(--md-sys-typescale-emphasized-title-small-line-height),
      size: var(--md-sys-typescale-emphasized-title-small-size),
      weight: var(--md-sys-typescale-emphasized-title-small-weight),
      tracking: var(--md-sys-typescale-emphasized-title-small-tracking),
    ),
  ),
  body: (
    large: (
      font: var(--md-sys-typescale-emphasized-body-large-font),
      line-height: var(--md-sys-typescale-emphasized-body-large-line-height),
      size: var(--md-sys-typescale-emphasized-body-large-size),
      weight: var(--md-sys-typescale-emphasized-body-large-weight),
      tracking: var(--md-sys-typescale-emphasized-body-large-tracking),
    ),
    medium: (
      font: var(--md-sys-typescale-emphasized-body-medium-font),
      line-height: var(--md-sys-typescale-emphasized-body-medium-line-height),
      size: var(--md-sys-typescale-emphasized-body-medium-size),
      weight: var(--md-sys-typescale-emphasized-body-medium-weight),
      tracking: var(--md-sys-typescale-emphasized-body-medium-tracking),
    ),
    small: (
      font: var(--md-sys-typescale-emphasized-body-small-font),
      line-height: var(--md-sys-typescale-emphasized-body-small-line-height),
      size: var(--md-sys-typescale-emphasized-body-small-size),
      weight: var(--md-sys-typescale-emphasized-body-small-weight),
      tracking: var(--md-sys-typescale-emphasized-body-small-tracking),
    ),
  ),
  label: (
    large: (
      font: var(--md-sys-typescale-emphasized-label-large-font),
      line-height: var(--md-sys-typescale-emphasized-label-large-line-height),
      size: var(--md-sys-typescale-emphasized-label-large-size),
      weight: var(--md-sys-typescale-emphasized-label-large-weight),
      tracking: var(--md-sys-typescale-emphasized-label-large-tracking),
    ),
    medium: (
      font: var(--md-sys-typescale-emphasized-label-medium-font),
      line-height: var(--md-sys-typescale-emphasized-label-medium-line-height),
      size: var(--md-sys-typescale-emphasized-label-medium-size),
      weight: var(--md-sys-typescale-emphasized-label-medium-weight),
      tracking: var(--md-sys-typescale-emphasized-label-medium-tracking),
    ),
    small: (
      font: var(--md-sys-typescale-emphasized-label-small-font),
      line-height: var(--md-sys-typescale-emphasized-label-small-line-height),
      size: var(--md-sys-typescale-emphasized-label-small-size),
      weight: var(--md-sys-typescale-emphasized-label-small-weight),
      tracking: var(--md-sys-typescale-emphasized-label-small-tracking),
    ),
  ),
);
