$config: (
  display: (
    large: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 3.5625rem,
      tracking: 0,
      line-height: 4rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 57,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    medium: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 2.8125rem,
      tracking: 0,
      line-height: 3.25rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 45,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    small: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 2.25rem,
      tracking: 0,
      line-height: 2.75rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 36,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
  ),
  headline: (
    large: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 2rem,
      tracking: 0,
      line-height: 2.5rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 32,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    medium: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 1.75rem,
      tracking: 0,
      line-height: 2.25rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 28,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    small: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 1.5rem,
      tracking: 0,
      line-height: 2rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 24,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
  ),
  title: (
    large: (
      font: var(--md-ref-typeface-brand),
      weight: var(--md-ref-typeface-weight-medium),
      size: 1.375rem,
      tracking: 0,
      line-height: 1.75rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 22,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    medium: (
      font: var(--md-ref-typeface-plain),
      weight: 600,
      size: 1rem,
      tracking: 0,
      line-height: 1.5rem,
      wght: 600,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 16,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    small: (
      font: var(--md-ref-typeface-plain),
      weight: 600,
      size: 0.875rem,
      tracking: 0,
      line-height: 1.25rem,
      wght: 600,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 14,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
  ),
  body: (
    large: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-medium),
      size: 1rem,
      tracking: 0,
      line-height: 1.5rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 16,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    medium: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-medium),
      size: 0.875rem,
      tracking: 0,
      line-height: 1.25rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 14,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    small: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-medium),
      size: 0.75rem,
      tracking: 0,
      line-height: 1rem,
      wght: 500,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 12,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
  ),
  label: (
    large: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-bold),
      size: 0.875rem,
      tracking: 0,
      line-height: 1.25rem,
      wght: 600,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 14,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    medium: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-bold),
      size: 0.75rem,
      tracking: 0.00625rem,
      line-height: 1rem,
      wght: 600,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 12,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
    small: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-bold),
      size: 0.6875rem,
      tracking: 0.00625rem,
      line-height: 1rem,
      wght: 600,
      grad: 0,
      wdth: 100%,
      rond: 0,
      opsz: 11,
      crsv: 0,
      slnt: 0,
      fill: 0,
      hexp: 0,
    ),
  ),
);
