@use 'tokens';
@use 'typeface';
@use 'sass:map';

@mixin baseline($name, $size) {
  font-family: var(--md-sys-typescale-#{$name}-#{$size}-font);
  font-weight: var(--md-sys-typescale-#{$name}-#{$size}-weight);
  font-size: var(--md-sys-typescale-#{$name}-#{$size}-size);
  letter-spacing: var(--md-sys-typescale-#{$name}-#{$size}-tracking);
  line-height: var(--md-sys-typescale-#{$name}-#{$size}-line-height);
}

@mixin emphasized($name, $size) {
  font-family: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-font);
  font-weight: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-weight);
  font-size: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-size);
  letter-spacing: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-tracking);
  line-height: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-line-height);
}
