@use 'tokens';
@use 'typefaces';
@use 'sass:map';

@mixin baseline($name, $size) {
  font: var(--md-sys-typescale-#{$name}-#{$size});
  letter-spacing: var(--md-sys-typescale-#{$name}-#{$size}-tracking);
  font-feature-settings:
    'wght' var(--md-sys-typescale-#{$name}-#{$size}-wght),
    'GRAD' var(--md-sys-typescale-#{$name}-#{$size}-grad),
    'ROND' var(--md-sys-typescale-#{$name}-#{$size}-rond),
    'opsz' var(--md-sys-typescale-#{$name}-#{$size}-opsz),
    'CRSV' var(--md-sys-typescale-#{$name}-#{$size}-crsv),
    'slnt' var(--md-sys-typescale-#{$name}-#{$size}-slnt),
    'FILL' var(--md-sys-typescale-#{$name}-#{$size}-fill),
    'HEXP' var(--md-sys-typescale-#{$name}-#{$size}-hexp),
    'XOPQ' var(--md-sys-typescale-#{$name}-#{$size}-xopq),
    'XTRA' var(--md-sys-typescale-#{$name}-#{$size}-xtra),
    'YOPQ' var(--md-sys-typescale-#{$name}-#{$size}-yopq),
    'YTAS' var(--md-sys-typescale-#{$name}-#{$size}-ytas),
    'YTDE' var(--md-sys-typescale-#{$name}-#{$size}-ytde),
    'YTFI' var(--md-sys-typescale-#{$name}-#{$size}-ytfi),
    'YTLC' var(--md-sys-typescale-#{$name}-#{$size}-ytlc),
    'YTUC' var(--md-sys-typescale-#{$name}-#{$size}-ytuc);
  font-stretch: var(--md-sys-typescale-#{$name}-#{$size}-wdth);
}

@mixin emphasized($name, $size) {
  font: var(--md-sys-typescale-emphasized-#{$name}-#{$size});
  letter-spacing: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-tracking);
  font-feature-settings:
    'wght' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-wght),
    'GRAD' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-grad),
    'ROND' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-rond),
    'opsz' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-opsz),
    'CRSV' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-crsv),
    'slnt' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-slnt),
    'FILL' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-fill),
    'HEXP' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-hexp),
    'XOPQ' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-xopq),
    'XTRA' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-xtra),
    'YOPQ' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-yopq),
    'YTAS' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-ytas),
    'YTDE' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-ytde),
    'YTFI' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-ytfi),
    'YTLC' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-ytlc),
    'YTUC' var(--md-sys-typescale-emphasized-#{$name}-#{$size}-ytuc);
  font-stretch: var(--md-sys-typescale-emphasized-#{$name}-#{$size}-wdth);
}
