@use 'sass:map';
@use '../helpers' as *;
@use 'configs';
@forward 'typefaces';

@function typestyle($variant, $overrides: ()) {
  $config: map.get(configs.$configs, $variant);
  $final-config: map-deep-merge($config, $overrides);
  @return $final-config;
}

@mixin typescale($variant, $overrides: ()) {
  $prefix: if(
    sass($variant != 'baseline'): '#{$variant}-' ; else: '',
  );
  @include generate-declarations('--md-sys-typescale-#{$prefix}', $overrides);
  @each $style, $sizes in $overrides {
    @each $size, $_ in $sizes {
      --md-sys-typescale-#{$prefix}#{$style}-#{$size}: var(
          --md-sys-typescale-#{$prefix}#{$style}-#{$size}-weight
        )
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$size}-size) /
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$size}-line-height)
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$size}-font);
    }
  }
}

@mixin get-typescale($variant, $style-size) {
  $prefix: if(
    sass($variant != 'baseline'): '#{$variant}-' ; else: '',
  );
  font: var(--md-sys-typescale-#{$prefix}#{$style-size});
  letter-spacing: var(--md-sys-typescale-#{$prefix}#{$style-size}-tracking);
  font-stretch: var(--md-sys-typescale-#{$prefix}#{$style-size}-wdth);
  font-variation-settings:
    'wght' var(--md-sys-typescale-#{$prefix}#{$style-size}-wght),
    'GRAD' var(--md-sys-typescale-#{$prefix}#{$style-size}-grad),
    'ROND' var(--md-sys-typescale-#{$prefix}#{$style-size}-rond),
    'opsz' var(--md-sys-typescale-#{$prefix}#{$style-size}-opsz),
    'CRSV' var(--md-sys-typescale-#{$prefix}#{$style-size}-crsv),
    'slnt' var(--md-sys-typescale-#{$prefix}#{$style-size}-slnt),
    'FILL' var(--md-sys-typescale-#{$prefix}#{$style-size}-fill),
    'HEXP' var(--md-sys-typescale-#{$prefix}#{$style-size}-hexp);
}

@each $variant, $values in configs.$configs {
  :root {
    $config: map.get(configs.$configs, $variant);
    @include typescale('#{$variant}', $config);
  }
}
