@use 'sass:map';
@use '../helpers' as *;
@use 'configs';
@forward 'typefaces';

@function typestyle($variant, $overrides: ()) {
  $config: map.get(configs.$configs, $variant);
  $final-config: map-deep-merge($config, $overrides);
  @return $final-config;
}

@mixin typescale($variant, $overrides: ()) {
  $prefix: if(
    sass($variant != 'baseline'): '#{$variant}-' ; else: '',
  );
  @include generate-declarations('--md-sys-typescale-#{$prefix}', $overrides);
  @each $style, $scales in $overrides {
    @each $scale, $_ in $scales {
      --md-sys-typescale-#{$prefix}#{$style}-#{$scale}: var(
          --md-sys-typescale-#{$prefix}#{$style}-#{$scale}-weight
        )
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$scale}-size) /
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$scale}-line-height)
        var(--md-sys-typescale-#{$prefix}#{$style}-#{$scale}-font);
    }
  }
}

@mixin get-typescale($variant, $style-scale) {
  $prefix: if(
    sass($variant != 'baseline'): '#{$variant}-' ; else: '',
  );
  font: var(--md-sys-typescale-#{$prefix}#{$style-scale});
  letter-spacing: var(--md-sys-typescale-#{$prefix}#{$style-scale}-tracking);
  font-stretch: var(--md-sys-typescale-#{$prefix}#{$style-scale}-wdth);
  font-variation-settings:
    'wght' var(--md-sys-typescale-#{$prefix}#{$style-scale}-wght),
    'GRAD' var(--md-sys-typescale-#{$prefix}#{$style-scale}-grad),
    'ROND' var(--md-sys-typescale-#{$prefix}#{$style-scale}-rond),
    'opsz' var(--md-sys-typescale-#{$prefix}#{$style-scale}-opsz),
    'CRSV' var(--md-sys-typescale-#{$prefix}#{$style-scale}-crsv),
    'slnt' var(--md-sys-typescale-#{$prefix}#{$style-scale}-slnt),
    'FILL' var(--md-sys-typescale-#{$prefix}#{$style-scale}-fill),
    'HEXP' var(--md-sys-typescale-#{$prefix}#{$style-scale}-hexp);
}

@each $variant, $values in configs.$configs {
  :root {
    $config: map.get(configs.$configs, $variant);
    @include typescale('#{$variant}', $config);
  }
}
