@use 'sass:map';
@use 'sass:meta';

$baseline-typescales: (
  display: (
    large: (font: brand, weight: regular, size: 57px, line-height: 64px, tracking: -0.25px, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 57, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    medium: (font: brand, weight: regular, size: 45px, line-height: 52px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 45, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    small: (font: brand, weight: regular, size: 36px, line-height: 44px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 36, crsv: 0, slnt: 0, fill: 0, hexp: 0),
  ),
  headline: (
    large: (font: brand, weight: regular, size: 32px, line-height: 40px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 32, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    medium: (font: brand, weight: regular, size: 28px, line-height: 36px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 28, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    small: (font: brand, weight: regular, size: 24px, line-height: 32px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 24, crsv: 0, slnt: 0, fill: 0, hexp: 0),
  ),
  title: (
    large: (font: brand, weight: regular, size: 22px, line-height: 28px, tracking: 0, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 22, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    medium: (font: plain, weight: medium, size: 16px, line-height: 24px, tracking: 0.15px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 16, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    small: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.1px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
  ),
  body: (
    large: (font: plain, weight: regular, size: 16px, line-height: 24px, tracking: 0.5px, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 16, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    medium: (font: plain, weight: regular, size: 14px, line-height: 20px, tracking: 0.25px, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    small: (font: plain, weight: regular, size: 12px, line-height: 16px, tracking: 0.4px, wght: 400, grad: 0, wdth: 100%, rond: 0, opsz: 12, crsv: 0, slnt: 0, fill: 0, hexp: 0),
  ),
  label: (
    large: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.1px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    medium: (font: plain, weight: medium, size: 12px, line-height: 16px, tracking: 0.5px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 12, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    small: (font: plain, weight: medium, size: 11px, line-height: 16px, tracking: 0.5px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 11, crsv: 0, slnt: 0, fill: 0, hexp: 0),
  ),
);

$typescale-variants: (
  baseline: $baseline-typescales,
  emphasized: (
    display: (
      large: (font: brand, weight: medium, size: 57px, line-height: 64px, tracking: -0.25px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 57, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      medium: (font: brand, weight: medium, size: 45px, line-height: 52px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 45, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      small: (font: brand, weight: medium, size: 36px, line-height: 44px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 36, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    ),
    headline: (
      large: (font: brand, weight: medium, size: 32px, line-height: 40px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 32, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      medium: (font: brand, weight: medium, size: 28px, line-height: 36px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 28, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      small: (font: brand, weight: medium, size: 24px, line-height: 32px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 24, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    ),
    title: (
      large: (font: brand, weight: medium, size: 22px, line-height: 28px, tracking: 0, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 22, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      medium: (font: plain, weight: 600, size: 16px, line-height: 24px, tracking: 0.15px, wght: 600, grad: 0, wdth: 100%, rond: 0, opsz: 16, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      small: (font: plain, weight: 600, size: 14px, line-height: 20px, tracking: 0.1px, wght: 600, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    ),
    body: (
      large: (font: plain, weight: medium, size: 16px, line-height: 24px, tracking: 0.5px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 16, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      medium: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.25px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      small: (font: plain, weight: medium, size: 12px, line-height: 16px, tracking: 0.4px, wght: 500, grad: 0, wdth: 100%, rond: 0, opsz: 12, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    ),
    label: (
      large: (font: plain, weight: bold, size: 14px, line-height: 20px, tracking: 0.1px, wght: 600, grad: 0, wdth: 100%, rond: 0, opsz: 14, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      medium: (font: plain, weight: bold, size: 12px, line-height: 16px, tracking: 0.5px, wght: 600, grad: 0, wdth: 100%, rond: 0, opsz: 12, crsv: 0, slnt: 0, fill: 0, hexp: 0),
      small: (font: plain, weight: bold, size: 11px, line-height: 16px, tracking: 0.5px, wght: 600, grad: 0, wdth: 100%, rond: 0, opsz: 11, crsv: 0, slnt: 0, fill: 0, hexp: 0),
    ),
  )
);

:root {
  @each $variant, $typescales in $typescale-variants {
    @each $type, $sizes in $typescales {
      @each $size, $values in $sizes {
        $prefix: if(sass($variant == 'baseline'): ''; else: '#{$variant}-');

        $font: map.get($values, font);
        $weight: map.get($values, weight);
        $font-size: map.get($values, size);
        $line-height: map.get($values, line-height);
        $tracking: map.get($values, tracking);
        $wght: map.get($values, wght);
        $grad: map.get($values, grad);
        $wdth: map.get($values, wdth);
        $rond: map.get($values, rond);
        $opsz: map.get($values, opsz);
        $crsv: map.get($values, crsv);
        $slnt: map.get($values, slnt);
        $fill: map.get($values, fill);
        $hexp: map.get($values, hexp);

        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-font: var(--md-ref-typeface-#{$font});
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-weight: var(--md-ref-typeface-weight-#{$weight});
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-size: #{$font-size};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-line-height: #{$line-height};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-tracking: #{$tracking};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-wght: #{$wght};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-grad: #{$grad};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-wdth: #{$wdth};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-rond: #{$rond};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-opsz: #{$opsz};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-crsv: #{$crsv};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-slnt: #{$slnt};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-fill: #{$fill};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-hexp: #{$hexp};
      }
    }
  }
}
