@use 'sass:map';

$baseline-typescales: (
  display: (large: (font: brand, weight: regular, size: 57px, line-height: 64px, tracking: -0.25px), medium: (font: brand, weight: regular, size: 45px, line-height: 52px, tracking: 0), small: (font: brand, weight: regular, size: 36px, line-height: 44px, tracking: 0)),
  headline: (large: (font: brand, weight: regular, size: 32px, line-height: 40px, tracking: 0), medium: (font: brand, weight: regular, size: 28px, line-height: 36px, tracking: 0), small: (font: brand, weight: regular, size: 24px, line-height: 32px, tracking: 0)),
  title: (large: (font: brand, weight: regular, size: 22px, line-height: 28px, tracking: 0), medium: (font: plain, weight: medium, size: 16px, line-height: 24px, tracking: 0.15px), small: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.1px)),
  body: (large: (font: plain, weight: regular, size: 16px, line-height: 24px, tracking: 0.5px), medium: (font: plain, weight: regular, size: 14px, line-height: 20px, tracking: 0.25px), small: (font: plain, weight: regular, size: 12px, line-height: 16px, tracking: 0.4px)),
  label: (large: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.1px), medium: (font: plain, weight: medium, size: 12px, line-height: 16px, tracking: 0.5px), small: (font: plain, weight: medium, size: 11px, line-height: 16px, tracking: 0.5px))
);

$typescale-variants: (
  baseline: $baseline-typescales,
  emphasized: (
    display: (large: (font: brand, weight: medium, size: 57px, line-height: 64px, tracking: -0.25px), medium: (font: brand, weight: medium, size: 45px, line-height: 52px, tracking: 0), small: (font: brand, weight: medium, size: 36px, line-height: 44px, tracking: 0)),
    headline: (large: (font: brand, weight: medium, size: 32px, line-height: 40px, tracking: 0), medium: (font: brand, weight: medium, size: 28px, line-height: 36px, tracking: 0), small: (font: brand, weight: medium, size: 24px, line-height: 32px, tracking: 0)),
    title: (large: (font: brand, weight: medium, size: 22px, line-height: 28px, tracking: 0), medium: (font: plain, weight: bold, size: 16px, line-height: 24px, tracking: 0.15px), small: (font: plain, weight: bold, size: 14px, line-height: 20px, tracking: 0.1px)),
    body: (large: (font: plain, weight: medium, size: 16px, line-height: 24px, tracking: 0.5px), medium: (font: plain, weight: medium, size: 14px, line-height: 20px, tracking: 0.25px), small: (font: plain, weight: medium, size: 12px, line-height: 16px, tracking: 0.4px)),
    label: (large: (font: plain, weight: bold, size: 14px, line-height: 20px, tracking: 0.1px), medium: (font: plain, weight: bold, size: 12px, line-height: 16px, tracking: 0.5px), small: (font: plain, weight: bold, size: 11px, line-height: 16px, tracking: 0.5px))
  )
);

:root {
  @each $variant, $typescales in $typescale-variants {
    @each $type, $sizes in $typescales {
      @each $size, $values in $sizes {
        $prefix: if($variant == 'baseline', '', '#{$variant}-');

        $font: map.get($values, font);
        $weight: map.get($values, weight);
        $font-size: map.get($values, size);
        $line-height: map.get($values, line-height);
        $tracking: map.get($values, tracking);

        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-font: var(--md-ref-typeface-#{$font});
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-weight: var(--md-ref-typeface-weight-#{$weight});
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-size: #{$font-size};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-line-height: #{$line-height};
        --md-sys-typescale-#{$prefix}#{$type}-#{$size}-tracking: #{$tracking};
      }
    }
  }
}
