@use '../generator';
@use 'sass:map';
@use '../typeface' as *;

$tokens: (
  display-large-font: map.get($typeface, brand),
  display-large-weight: map.get($typeface, weight-regular),
  display-large-size: 57px,
  display-large-line-height: 64px,
  display-large-tracking: -.25px,
  display-medium-font: map.get($typeface, brand),
  display-medium-weight: map.get($typeface, weight-regular),
  display-medium-size: 45px,
  display-medium-line-height: 52px,
  display-medium-tracking: 0,
  display-small-font: map.get($typeface, brand),
  display-small-weight: map.get($typeface, weight-regular),
  display-small-size: 36px,
  display-small-line-height: 44px,
  display-small-tracking: 0,
  headline-large-font: map.get($typeface, brand),
  headline-large-weight: map.get($typeface, weight-regular),
  headline-large-size: 32px,
  headline-large-line-height: 40px,
  headline-large-tracking: 0,
  headline-medium-font: map.get($typeface, brand),
  headline-medium-weight: map.get($typeface, weight-regular),
  headline-medium-size: 28px,
  headline-medium-line-height: 36px,
  headline-medium-tracking: 0,
  headline-small-font: map.get($typeface, brand),
  headline-small-weight: map.get($typeface, weight-regular),
  headline-small-size: 24px,
  headline-small-line-height: 32px,
  headline-small-tracking: 0,
  title-large-font: map.get($typeface, brand),
  title-large-weight: map.get($typeface, weight-regular),
  title-large-size: 22px,
  title-large-line-height: 28px,
  title-large-tracking: 0,
  title-medium-font: map.get($typeface, plain),
  title-medium-weight: map.get($typeface, weight-medium),
  title-medium-size: 16px,
  title-medium-line-height: 24px,
  title-medium-tracking: .15px,
  title-small-font: map.get($typeface, plain),
  title-small-weight: map.get($typeface, weight-medium),
  title-small-size: 14px,
  title-small-line-height: 20px,
  title-small-tracking: .1px,
  body-large-font: map.get($typeface, plain),
  body-large-weight: map.get($typeface, weight-regular),
  body-large-size: 16px,
  body-large-line-height: 24px,
  body-large-tracking: .5px,
  body-medium-font: map.get($typeface, plain),
  body-medium-weight: map.get($typeface, weight-regular),
  body-medium-size: 14px,
  body-medium-line-height: 20px,
  body-medium-tracking: .25px,
  body-small-font: map.get($typeface, plain),
  body-small-weight: map.get($typeface, weight-regular),
  body-small-size: 12px,
  body-small-line-height: 16px,
  body-small-tracking: .4px,
  label-large-font: map.get($typeface, plain),
  label-large-weight: map.get($typeface, weight-medium),
  label-large-size: 14px,
  label-large-line-height: 20px,
  label-large-tracking: .1px,
  label-medium-font: map.get($typeface, plain),
  label-medium-weight: map.get($typeface, weight-medium),
  label-medium-size: 12px,
  label-medium-line-height: 16px,
  label-medium-tracking: .5px,
  label-small-font: map.get($typeface, plain),
  label-small-weight: map.get($typeface, weight-medium),
  label-small-size: 11px,
  label-small-line-height: 16px,
  label-small-tracking: .5px,
  emphasized-display-large-font: map.get($typeface, brand),
  emphasized-display-large-weight: map.get($typeface, weight-medium),
  emphasized-display-large-size: 57px,
  emphasized-display-large-line-height: 64px,
  emphasized-display-large-tracking: -.25px,
  emphasized-display-medium-font: map.get($typeface, brand),
  emphasized-display-medium-weight: map.get($typeface, weight-medium),
  emphasized-display-medium-size: 45px,
  emphasized-display-medium-line-height: 52px,
  emphasized-display-medium-tracking: 0,
  emphasized-display-small-font: map.get($typeface, brand),
  emphasized-display-small-weight: map.get($typeface, weight-medium),
  emphasized-display-small-size: 36px,
  emphasized-display-small-line-height: 44px,
  emphasized-display-small-tracking: 0,
  emphasized-headline-large-font: map.get($typeface, brand),
  emphasized-headline-large-weight: map.get($typeface, weight-medium),
  emphasized-headline-large-size: 32px,
  emphasized-headline-large-line-height: 40px,
  emphasized-headline-large-tracking: 0,
  emphasized-headline-medium-font: map.get($typeface, brand),
  emphasized-headline-medium-weight: map.get($typeface, weight-medium),
  emphasized-headline-medium-size: 28px,
  emphasized-headline-medium-line-height: 36px,
  emphasized-headline-medium-tracking: 0,
  emphasized-headline-small-font: map.get($typeface, brand),
  emphasized-headline-small-weight: map.get($typeface, weight-medium),
  emphasized-headline-small-size: 24px,
  emphasized-headline-small-line-height: 32px,
  emphasized-headline-small-tracking: 0,
  emphasized-title-large-font: map.get($typeface, brand),
  emphasized-title-large-weight: map.get($typeface, weight-medium),
  emphasized-title-large-size: 22px,
  emphasized-title-large-line-height: 28px,
  emphasized-title-large-tracking: 0,
  emphasized-title-medium-font: map.get($typeface, plain),
  emphasized-title-medium-weight: map.get($typeface, weight-bold),
  emphasized-title-medium-size: 16px,
  emphasized-title-medium-line-height: 24px,
  emphasized-title-medium-tracking: .15px,
  emphasized-title-small-font: map.get($typeface, plain),
  emphasized-title-small-weight: map.get($typeface, weight-bold),
  emphasized-title-small-size: 14px,
  emphasized-title-small-line-height: 20px,
  emphasized-title-small-tracking: .1px,
  emphasized-body-large-font: map.get($typeface, plain),
  emphasized-body-large-weight: map.get($typeface, weight-medium),
  emphasized-body-large-size: 16px,
  emphasized-body-large-line-height: 24px,
  emphasized-body-large-tracking: .5px,
  emphasized-body-medium-font: map.get($typeface, plain),
  emphasized-body-medium-weight: map.get($typeface, weight-medium),
  emphasized-body-medium-size: 14px,
  emphasized-body-medium-line-height: 20px,
  emphasized-body-medium-tracking: .25px,
  emphasized-body-small-font: map.get($typeface, plain),
  emphasized-body-small-weight: map.get($typeface, weight-medium),
  emphasized-body-small-size: 12px,
  emphasized-body-small-line-height: 16px,
  emphasized-body-small-tracking: .4px,
  emphasized-label-large-font: map.get($typeface, plain),
  emphasized-label-large-weight: map.get($typeface, weight-bold),
  emphasized-label-large-size: 14px,
  emphasized-label-large-line-height: 20px,
  emphasized-label-large-tracking: .1px,
  emphasized-label-medium-font: map.get($typeface, plain),
  emphasized-label-medium-weight: map.get($typeface, weight-bold),
  emphasized-label-medium-size: 12px,
  emphasized-label-medium-line-height: 16px,
  emphasized-label-medium-tracking: .5px,
  emphasized-label-small-font: map.get($typeface, plain),
  emphasized-label-small-weight: map.get($typeface, weight-bold),
  emphasized-label-small-size: 11px,
  emphasized-label-small-line-height: 16px,
  emphasized-label-small-tracking: .5px,
);

:root {
  @include generator.generate-token($tokens, typescale);
}
