.md-button-size-large {
  --button-container-height: 96px;
  --button-outline-width: 2px;
  --button-label-font: var(--md-sys-typescale-headline-small);
  --button-label-tracking: var(--md-sys-typescale-headline-small-tracking);
  --button-icon-size: 32px;
  --button-shape-round: calc(var(--button-container-height) / 2);
  --button-shape-square: var(--md-sys-shape-corner-extra-large);
  --button-leading-space: 48px;
  --button-between-icon-label-space: 12px;
  --button-trailing-space: 48px;
  --button-shape-pressed-morph: var(--md-sys-shape-corner-large);
  --button-shape-spring-animation: var(--md-sys-motion-spring-fast-spatial);
  --button-selected-container-shape-round: var(
    --md-sys-shape-corner-extra-large
  );
  --button-selected-container-shape-square: calc(
    var(--button-container-height) / 2
  );
}
