@use 'helpers' as *;
@use 'sass:map';

@function shadow-color($alpha) {
  @return color-mix(in srgb, var(--elevation-color) $alpha, #fff0);
}

$elevation: (
  level5: (
    shadow-color(20%) 0px 7px 8px -4px,
    shadow-color(14%) 0px 12px 17px 2px,
    shadow-color(12%) 0px 5px 22px 4px,
  ),
  level4: (
    shadow-color(20%) 0px 5px 5px -3px,
    shadow-color(14%) 0px 8px 10px 1px,
    shadow-color(12%) 0px 3px 14px 2px,
  ),
  level3: (
    shadow-color(20%) 0px 3px 5px -1px,
    shadow-color(14%) 0px 6px 10px 0px,
    shadow-color(12%) 0px 1px 18px 0px,
  ),
  level2: (
    shadow-color(20%) 0px 3px 3px -2px,
    shadow-color(14%) 0px 3px 4px 0px,
    shadow-color(12%) 0px 1px 8px 0px,
  ),
  level1: (
    shadow-color(20%) 0px 2px 1px -1px,
    shadow-color(14%) 0px 1px 1px 0px,
    shadow-color(12%) 0px 1px 3px 0px,
  ),
  level0: none,
);

:root {
  @include generate-token('sys', 'elevation', $elevation);
}
