@use 'sass:list';
@use 'sass:meta';
@use 'sass:map';

@function str-join($list, $separator) {
  $result: '';
  @for $i from 1 through list.length($list) {
    $item: list.nth($list, $i);
    $result: #{$result}#{$item};
    @if $i < list.length($list) {
      $result: #{$result}#{$separator};
    }
  }
  @return $result;
}

@mixin generate-declarations($prefix, $map, $exclude: (), $path: ()) {
  @each $key, $valueue in $map {
    @if not list.index($exclude, $key) {
      $next-path: list.append($path, $key);

      @if meta.type-of($valueue) == 'map' {
        @include generate-declarations($prefix, $valueue, $exclude, $next-path);
      } @else {
        #{$prefix}#{str-join($next-path, '-')}: #{$valueue};
      }
    }
  }
}

@function map-deep-merge($a, $b) {
  $result: ();
  @each $key, $value in $a {
    @if map.has-key($b, $key) {
      $b-value: map.get($b, $key);
      @if meta.type-of($value) == 'map' and meta.type-of($b-value) == 'map' {
        $result: map.merge(
          $result,
          (
            $key: map-deep-merge($value, $b-value),
          )
        );
      } @else {
        $result: map.merge(
          $result,
          (
            $key: $b-value,
          )
        );
      }
    } @else {
      @if meta.type-of($value) != 'map' {
        $result: map.merge(
          $result,
          (
            $key: $value,
          )
        );
      }
    }
  }
  @each $key, $value in $b {
    @if not map.has-key($a, $key) {
      $result: map.merge(
        $result,
        (
          $key: $value,
        )
      );
    }
  }
  @return $result;
}

$light: ':is(.light, .light-medium-contrast, .light-high-contrast)';
$dark: ':is(.dark, .dark-medium-contrast, .dark-high-contrast)';
