@use 'helpers' as *;

$expressive-motions: (
  fast: (
    spatial: 350ms cubic-bezier(0.42, 1.67, 0.21, 0.9),
    effects: 150ms cubic-bezier(0.31, 0.94, 0.34, 1),
  ),
  default: (
    spatial: 500ms cubic-bezier(0.38, 1.21, 0.22, 1),
    effects: 200ms cubic-bezier(0.34, 0.8, 0.34, 1),
  ),
  slow: (
    spatial: 650ms cubic-bezier(0.39, 1.29, 0.35, 0.98),
    effects: 300ms cubic-bezier(0.34, 0.88, 0.34, 1),
  ),
);
$standard-motions: (
  fast: (
    spatial: 350ms cubic-bezier(0.27, 1.06, 0.18, 1),
    effects: 150ms cubic-bezier(0.31, 0.94, 0.34, 1),
  ),
  default: (
    spatial: 500ms cubic-bezier(0.27, 1.06, 0.18, 1),
    effects: 200ms cubic-bezier(0.34, 0.8, 0.34, 1),
  ),
  slow: (
    spatial: 750ms cubic-bezier(0.27, 1.06, 0.18, 1),
    effects: 300ms cubic-bezier(0.34, 0.88, 0.34, 1),
  ),
);

:root.expressive {
  @include generate-token('sys', 'motion-spring', $expressive-motions);
}
:root.standard {
  @include generate-token('sys', 'motion-spring', $standard-motions);
}
