$typeface: (
  brand: var(--md-ref-typeface-brand),
  plain: var(--md-ref-typeface-plain),
  weight-regular: var(--md-ref-typeface-weight-regular),
  weight-medium: var(--md-ref-typeface-weight-medium),
  weight-bold: var(--md-ref-typeface-weight-bold),
);

:root {
  --md-ref-typeface-brand: Roboto;
  --md-ref-typeface-plain: Roboto;
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-bold: 700;
}
