@use 'sass:map';
@use 'sass:list';

$roles: (
  primary: (
    primary,
    40,
  ),
  on-primary: (
    primary,
    100,
  ),
  primary-container: (
    primary,
    90,
  ),
  on-primary-container: (
    primary,
    10,
  ),
  secondary: (
    secondary,
    40,
  ),
  on-secondary: (
    secondary,
    100,
  ),
  secondary-container: (
    secondary,
    90,
  ),
  on-secondary-container: (
    secondary,
    10,
  ),
  tertiary: (
    tertiary,
    40,
  ),
  on-tertiary: (
    tertiary,
    100,
  ),
  tertiary-container: (
    tertiary,
    90,
  ),
  on-tertiary-container: (
    tertiary,
    10,
  ),
  error: (
    error,
    40,
  ),
  on-error: (
    error,
    100,
  ),
  error-container: (
    error,
    90,
  ),
  on-error-container: (
    error,
    10,
  ),
  surface: (
    neutral,
    98,
  ),
  on-surface: (
    neutral,
    10,
  ),
  surface-variant: (
    neutral-variant,
    90,
  ),
  on-surface-variant: (
    neutral-variant,
    30,
  ),
  surface-container-highest: (
    neutral,
    90,
  ),
  surface-container-high: (
    neutral,
    92,
  ),
  surface-container: (
    neutral,
    94,
  ),
  surface-container-low: (
    neutral,
    96,
  ),
  surface-container-lowest: (
    neutral,
    100,
  ),
  inverse-surface: (
    neutral,
    20,
  ),
  inverse-on-surface: (
    neutral,
    95,
  ),
  outline: (
    neutral-variant,
    50,
  ),
  outline-variant: (
    neutral-variant,
    80,
  ),
  primary-fixed: (
    primary,
    90,
  ),
  on-primary-fixed: (
    primary,
    10,
  ),
  primary-fixed-dim: (
    primary,
    80,
  ),
  on-primary-fixed-variant: (
    primary,
    30,
  ),
  inverse-primary: (
    primary,
    80,
  ),
  secondary-fixed: (
    secondary,
    90,
  ),
  on-secondary-fixed: (
    secondary,
    10,
  ),
  secondary-fixed-dim: (
    secondary,
    80,
  ),
  on-secondary-fixed-variant: (
    secondary,
    30,
  ),
  tertiary-fixed: (
    tertiary,
    90,
  ),
  on-tertiary-fixed: (
    tertiary,
    10,
  ),
  tertiary-fixed-dim: (
    tertiary,
    80,
  ),
  on-tertiary-fixed-variant: (
    tertiary,
    30,
  ),
  surface-bright: (
    neutral,
    98,
  ),
  surface-dim: (
    neutral,
    87,
  ),
  scrim: (
    neutral,
    0,
  ),
  shadow: (
    neutral,
    0,
  ),
);

:root.light {
  @each $role, $value in $roles {
    --md-sys-color-#{$role}: var(
      --md-ref-palette-#{list.nth($value, 1)}#{list.nth($value, 2)}
    );
  }
}
