.yu-button-color-outlined {
  --outline-color: var(--md-sys-color-outline-variant);
  --container-color-selected: var(--md-sys-color-inverse-surface);
  --label-color: var(--md-sys-color-on-surface-variant);
  --label-color-unselected: var(--md-sys-color-on-surface-variant);
  --label-color-selected: var(--md-sys-color-inverse-on-surface);
  --icon-color: var(--md-sys-color-on-surface-variant);
  --icon-color-unselected: var(--md-sys-color-on-surface-variant);
  --icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --disabled-outline-color: var(--md-sys-color-outline-variant);
  --disabled-outline-color-unselected: var(--md-sys-color-outline-variant);
  --disabled-container-color-selected: var(--md-sys-color-on-surface);
  --disabled-container-opacity: 0.1;
  --disabled-label-color: var(--md-sys-color-on-surface);
  --disabled-label-opacity: 0.38;
  --disabled-icon-color: var(--md-sys-color-on-surface);
  --disabled-icon-opacity: 0.38;

  --hovered-state-layer-color: var(--md-sys-color-on-surface-variant);
  --hovered-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --hovered-state-layer-color-selected: var(--md-sys-color-inverse-on-surface);
  --hovered-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --hovered-outline-color: var(--md-sys-color-outline-variant);
  --hovered-outline-color-unselected: var(--md-sys-color-outline-variant);
  --hovered-label-color: var(--md-sys-color-on-surface-variant);
  --hovered-label-color-unselected: var(--md-sys-color-on-surface-variant);
  --hovered-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --hovered-icon-color: var(--md-sys-color-on-surface-variant);
  --hovered-icon-color-unselected: var(--md-sys-color-on-surface-variant);
  --hovered-icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --focused-state-layer-color: var(--md-sys-color-on-surface-variant);
  --focused-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --focused-state-layer-color-selected: var(--md-sys-color-inverse-on-surface);
  --focused-state-layer-opacity: var(
    --md-sys-state-focused-state-layer-opacity
  );
  --focused-outline-color: var(--md-sys-color-outline-variant);
  --focused-outline-color-unselected: var(--md-sys-color-outline-variant);
  --focused-label-color: var(--md-sys-color-on-surface-variant);
  --focused-label-color-unselected: var(--md-sys-color-on-surface-variant);
  --focused-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --focused-icon-color: var(--md-sys-color-on-surface-variant);
  --focused-icon-color-unselected: var(--md-sys-color-on-surface-variant);
  --focused-icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --pressed-state-layer-color: var(--md-sys-color-on-surface-variant);
  --pressed-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --pressed-state-layer-color-selected: var(--md-sys-color-inverse-on-surface);
  --pressed-state-layer-opacity: var(
    --md-sys-state-pressed-state-layer-opacity
  );
  --pressed-outline-color: var(--md-sys-color-outline-variant);
  --pressed-outline-color-unselected: var(--md-sys-color-outline-variant);
  --pressed-label-color: var(--md-sys-color-on-surface-variant);
  --pressed-label-color-unselected: var(--md-sys-color-on-surface-variant);
  --pressed-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --pressed-icon-color: var(--md-sys-color-on-surface-variant);
  --pressed-icon-color-unselected: var(--md-sys-color-on-surface-variant);
  --pressed-icon-color-selected: var(--md-sys-color-inverse-on-surface);
}
