.md-button-color-outlined {
  --button-outline-color: var(--md-sys-color-outline-variant);
  --button-container-color-selected: var(--md-sys-color-inverse-surface);
  --button-label-color: var(--md-sys-color-on-surface-variant);
  --button-label-color-unselected: var(--md-sys-color-on-surface-variant);
  --button-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --button-icon-color: var(--md-sys-color-on-surface-variant);
  --button-icon-color-unselected: var(--md-sys-color-on-surface-variant);
  --button-icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --button-disabled-outline-color: var(--md-sys-color-outline-variant);
  --button-disabled-outline-color-unselected: var(
    --md-sys-color-outline-variant
  );
  --button-disabled-container-color-selected: var(--md-sys-color-on-surface);
  --button-disabled-container-opacity: 0.1;
  --button-disabled-label-color: var(--md-sys-color-on-surface);
  --button-disabled-label-opacity: 0.38;
  --button-disabled-icon-color: var(--md-sys-color-on-surface);
  --button-disabled-icon-opacity: 0.38;

  --button-hovered-state-layer-color: var(--md-sys-color-on-surface-variant);
  --button-hovered-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-hovered-state-layer-color-selected: var(
    --md-sys-color-inverse-on-surface
  );
  --button-hovered-state-layer-opacity: var(
    --md-sys-state-hover-state-layer-opacity
  );
  --button-hovered-outline-color: var(--md-sys-color-outline-variant);
  --button-hovered-outline-color-unselected: var(
    --md-sys-color-outline-variant
  );
  --button-hovered-label-color: var(--md-sys-color-on-surface-variant);
  --button-hovered-label-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-hovered-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --button-hovered-icon-color: var(--md-sys-color-on-surface-variant);
  --button-hovered-icon-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-hovered-icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --button-focused-state-layer-color: var(--md-sys-color-on-surface-variant);
  --button-focused-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-focused-state-layer-color-selected: var(
    --md-sys-color-inverse-on-surface
  );
  --button-focused-state-layer-opacity: var(
    --md-sys-state-focused-state-layer-opacity
  );
  --button-focused-outline-color: var(--md-sys-color-outline-variant);
  --button-focused-outline-color-unselected: var(
    --md-sys-color-outline-variant
  );
  --button-focused-label-color: var(--md-sys-color-on-surface-variant);
  --button-focused-label-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-focused-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --button-focused-icon-color: var(--md-sys-color-on-surface-variant);
  --button-focused-icon-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-focused-icon-color-selected: var(--md-sys-color-inverse-on-surface);

  --button-pressed-state-layer-color: var(--md-sys-color-on-surface-variant);
  --button-pressed-state-layer-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-pressed-state-layer-color-selected: var(
    --md-sys-color-inverse-on-surface
  );
  --button-pressed-state-layer-opacity: var(
    --md-sys-state-pressed-state-layer-opacity
  );
  --button-pressed-outline-color: var(--md-sys-color-outline-variant);
  --button-pressed-outline-color-unselected: var(
    --md-sys-color-outline-variant
  );
  --button-pressed-label-color: var(--md-sys-color-on-surface-variant);
  --button-pressed-label-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-pressed-label-color-selected: var(--md-sys-color-inverse-on-surface);
  --button-pressed-icon-color: var(--md-sys-color-on-surface-variant);
  --button-pressed-icon-color-unselected: var(
    --md-sys-color-on-surface-variant
  );
  --button-pressed-icon-color-selected: var(--md-sys-color-inverse-on-surface);
}
