.yu-button-color-text {
  --label-color: var(--md-sys-color-primary);
  --icon-color: var(--md-sys-color-primary);

  --disabled-container-color: var(--md-sys-color-on-surface);
  --disabled-container-opacity: 0.1;
  --disabled-label-color: var(--md-sys-color-on-surface);
  --disabled-label-opacity: 0.38;
  --disabled-icon-color: var(--md-sys-color-on-surface);
  --disabled-icon-opacity: 0.38;

  --hovered-state-layer-color: var(--md-sys-color-primary);
  --hovered-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --hovered-label-color: var(--md-sys-color-primary);
  --hovered-icon-color: var(--md-sys-color-primary);

  --focused-state-layer-color: var(--md-sys-color-primary);
  --focused-state-layer-opacity: var(
    --md-sys-state-focused-state-layer-opacity
  );
  --focused-label-color: var(--md-sys-color-primary);
  --focused-icon-color: var(--md-sys-color-primary);

  --pressed-state-layer-color: var(--md-sys-color-primary);
  --pressed-state-layer-opacity: var(
    --md-sys-state-pressed-state-layer-opacity
  );
  --pressed-label-color: var(--md-sys-color-primary);
  --pressed-icon-color: var(--md-sys-color-primary);
}
