.md-button-color-tonal {
  --button-container-color: var(--md-sys-color-secondary-container);
  --button-container-color-unselected: var(--md-sys-color-secondary-container);
  --button-container-color-selected: var(--md-sys-color-secondary);
  --button-shadow-color: var(--md-sys-color-shadow);
  --button-elevation: var(--md-sys-elevation-level0);
  --button-label-color: var(--md-sys-color-on-secondary-container);
  --button-label-color-unselected: var(--md-sys-color-on-secondary-container);
  --button-label-color-selected: var(--md-sys-color-on-secondary);
  --button-icon-color: var(--md-sys-color-on-secondary-container);
  --button-icon-color-unselected: var(--md-sys-color-on-secondary-container);
  --button-icon-color-selected: var(--md-sys-color-on-secondary);

  --button-disabled-container-color: var(--md-sys-color-on-surface);
  --button-disabled-container-opacity: 0.1;
  --button-disabled-elevation: var(--md-sys-elevation-level0);
  --button-disabled-label-color: var(--md-sys-color-on-surface);
  --button-disabled-label-opacity: 0.38;
  --button-disabled-icon-color: var(--md-sys-color-on-surface);
  --button-disabled-icon-opacity: 0.38;

  --button-hovered-state-layer-color: var(
    --md-sys-color-on-secondary-container
  );
  --button-hovered-state-layer-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-hovered-state-layer-color-selected: var(--md-sys-color-on-secondary);
  --button-hovered-state-layer-opacity: var(
    --md-sys-state-hover-state-layer-opacity
  );
  --button-hovered-elevation: var(--md-sys-elevation-level1);
  --button-hovered-label-color: var(--md-sys-color-on-secondary-container);
  --button-hovered-label-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-hovered-label-color-selected: var(--md-sys-color-on-secondary);
  --button-hovered-icon-color: var(--md-sys-color-on-secondary-container);
  --button-hovered-icon-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-hovered-icon-color-selected: var(--md-sys-color-on-secondary);

  --button-focused-state-layer-color: var(
    --md-sys-color-on-secondary-container
  );
  --button-focused-state-layer-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-focused-state-layer-color-selected: var(--md-sys-color-on-secondary);
  --button-focused-state-layer-opacity: var(
    --md-sys-state-focused-state-layer-opacity
  );
  --button-focused-elevation: var(--md-sys-elevation-level0);
  --button-focused-label-color: var(--md-sys-color-on-secondary-container);
  --button-focused-label-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-focused-label-color-selected: var(--md-sys-color-on-secondary);
  --button-focused-icon-color: var(--md-sys-color-on-secondary-container);
  --button-focused-icon-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-focused-icon-color-selected: var(--md-sys-color-on-secondary);

  --button-pressed-state-layer-color: var(
    --md-sys-color-on-secondary-container
  );
  --button-pressed-state-layer-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-pressed-state-layer-color-selected: var(--md-sys-color-on-secondary);
  --button-pressed-state-layer-opacity: var(
    --md-sys-state-pressed-state-layer-opacity
  );
  --button-pressed-elevation: var(--md-sys-elevation-level0);
  --button-pressed-label-color: var(--md-sys-color-on-secondary-container);
  --button-pressed-label-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-pressed-label-color-selected: var(--md-sys-color-on-secondary);
  --button-pressed-icon-color: var(--md-sys-color-on-secondary-container);
  --button-pressed-icon-color-unselected: var(
    --md-sys-color-on-secondary-container
  );
  --button-pressed-icon-color-selected: var(--md-sys-color-on-secondary);
}
