@use 'sass:map';
@use '../palettes/baseline' as *;
@use '../generator';

$color-scheme: (
  primary: map.get($primary, 95),
  on-primary: map.get($primary, 0),
  primary-container: map.get($primary, 80),
  on-primary-container: map.get($primary, 0),
  secondary: map.get($secondary, 95),
  on-secondary: map.get($secondary, 0),
  secondary-container: map.get($secondary, 80),
  on-secondary-container: map.get($secondary, 0),
  tertiary: map.get($tertiary, 95),
  on-tertiary: map.get($tertiary, 0),
  tertiary-container: map.get($tertiary, 80),
  on-tertiary-container: map.get($tertiary, 0),
  error: map.get($error, 95),
  on-error: map.get($error, 0),
  error-container: map.get($error, 80),
  on-error-container: map.get($error, 0),
  surface: map.get($neutral, 6),
  on-surface: map.get($neutral, 100),
  surface-variant: map.get($neutral-variant, 30),
  on-surface-variant: map.get($neutral-variant, 100),
  surface-container-highest: map.get($neutral, 22),
  surface-container-high: map.get($neutral, 17),
  surface-container: map.get($neutral, 12),
  surface-container-low: map.get($neutral, 10),
  surface-container-lowest: map.get($neutral, 4),
  inverse-surface: map.get($neutral, 90),
  inverse-on-surface: map.get($neutral, 0),
  outline: map.get($neutral-variant, 95),
  outline-variant: map.get($neutral-variant, 80),
  primary-fixed: map.get($primary, 90),
  on-primary-fixed: map.get($primary, 0),
  primary-fixed-dim: map.get($primary, 80),
  on-primary-fixed-variant: map.get($primary, 0),
  inverse-primary: map.get($primary, 20),
  secondary-fixed: map.get($secondary, 90),
  on-secondary-fixed: map.get($secondary, 0),
  secondary-fixed-dim: map.get($secondary, 80),
  on-secondary-fixed-variant: map.get($secondary, 0),
  tertiary-fixed: map.get($tertiary, 90),
  on-tertiary-fixed: map.get($tertiary, 0),
  tertiary-fixed-dim: map.get($tertiary, 80),
  on-tertiary-fixed-variant: map.get($tertiary, 0),
  surface-bright: map.get($neutral, 24),
  surface-dim: map.get($neutral, 6),
  scrim: map.get($neutral, 0),
  shadow: map.get($neutral, 0)
);

:root.dark-high-contrast {
  @include generator.generate-token($color-scheme, color);
}
