@use 'sass:map';
@use 'sass:list';

$roles: (
  primary: (primary, 95),
  on-primary: (primary, 0),
  primary-container: (primary, 80),
  on-primary-container: (primary, 0),
  secondary: (secondary, 95),
  on-secondary: (secondary, 0),
  secondary-container: (secondary, 80),
  on-secondary-container: (secondary, 0),
  tertiary: (tertiary, 95),
  on-tertiary: (tertiary, 0),
  tertiary-container: (tertiary, 80),
  on-tertiary-container: (tertiary, 0),
  error: (error, 95),
  on-error: (error, 0),
  error-container: (error, 80),
  on-error-container: (error, 0),
  surface: (neutral, 6),
  on-surface: (neutral, 100),
  surface-variant: (neutral-variant, 30),
  on-surface-variant: (neutral-variant, 100),
  surface-container-highest: (neutral, 22),
  surface-container-high: (neutral, 17),
  surface-container: (neutral, 12),
  surface-container-low: (neutral, 10),
  surface-container-lowest: (neutral, 4),
  inverse-surface: (neutral, 90),
  inverse-on-surface: (neutral, 0),
  outline: (neutral-variant, 95),
  outline-variant: (neutral-variant, 80),
  primary-fixed: (primary, 90),
  on-primary-fixed: (primary, 0),
  primary-fixed-dim: (primary, 80),
  on-primary-fixed-variant: (primary, 0),
  inverse-primary: (primary, 20),
  secondary-fixed: (secondary, 90),
  on-secondary-fixed: (secondary, 0),
  secondary-fixed-dim: (secondary, 80),
  on-secondary-fixed-variant: (secondary, 0),
  tertiary-fixed: (tertiary, 90),
  on-tertiary-fixed: (tertiary, 0),
  tertiary-fixed-dim: (tertiary, 80),
  on-tertiary-fixed-variant: (tertiary, 0),
  surface-bright: (neutral, 24),
  surface-dim: (neutral, 6),
  scrim: (neutral, 0),
  shadow: (neutral, 0)
);

:root.dark-high-contrast {
  @each $role, $value in $roles {
    --md-sys-color-#{$role}: var(--md-ref-palette-#{list.nth($value, 1)}#{list.nth($value, 2)});
  }
}
