@use 'sass:map';
@use '../palettes/baseline' as *;
@use '../generator';

$color-scheme: (
  primary: map.get($primary, 20),
  on-primary: map.get($primary, 100),
  primary-container: map.get($primary, 30),
  on-primary-container: map.get($primary, 100),
  secondary: map.get($secondary, 20),
  on-secondary: map.get($secondary, 100),
  secondary-container: map.get($secondary, 30),
  on-secondary-container: map.get($secondary, 100),
  tertiary: map.get($tertiary, 20),
  on-tertiary: map.get($tertiary, 100),
  tertiary-container: map.get($tertiary, 30),
  on-tertiary-container: map.get($tertiary, 100),
  error: map.get($error, 20),
  on-error: map.get($error, 100),
  error-container: map.get($error, 30),
  on-error-container: map.get($error, 100),
  surface: map.get($neutral, 98),
  on-surface: map.get($neutral, 0),
  surface-variant: map.get($neutral-variant, 90),
  on-surface-variant: map.get($neutral-variant, 0),
  surface-container-highest: map.get($neutral, 90),
  surface-container-high: map.get($neutral, 92),
  surface-container: map.get($neutral, 94),
  surface-container-low: map.get($neutral, 96),
  surface-container-lowest: map.get($neutral, 100),
  inverse-surface: map.get($neutral, 20),
  inverse-on-surface: map.get($neutral, 100),
  outline: map.get($neutral-variant, 20),
  outline-variant: map.get($neutral-variant, 30),
  primary-fixed: map.get($primary, 30),
  on-primary-fixed: map.get($primary, 100),
  primary-fixed-dim: map.get($primary, 20),
  on-primary-fixed-variant: map.get($primary, 100),
  inverse-primary: map.get($primary, 80),
  secondary-fixed: map.get($secondary, 30),
  on-secondary-fixed: map.get($secondary, 100),
  secondary-fixed-dim: map.get($secondary, 20),
  on-secondary-fixed-variant: map.get($secondary, 100),
  tertiary-fixed: map.get($tertiary, 30),
  on-tertiary-fixed: map.get($tertiary, 100),
  tertiary-fixed-dim: map.get($tertiary, 20),
  on-tertiary-fixed-variant: map.get($tertiary, 100),
  surface-bright: map.get($neutral, 98),
  surface-dim: map.get($neutral, 87),
  scrim: map.get($neutral, 0),
  shadow: map.get($neutral, 0)
);

:root.light-high-contrast {
  @include generator.generate-token($color-scheme, color);
}
