@use 'sass:map';
@use '../palettes/baseline';
@use '../generator';

$color-scheme: (
  primary: map.get(baseline.$primary, 30),
  on-primary: map.get(baseline.$primary, 100),
  primary-container: map.get(baseline.$primary, 40),
  on-primary-container: map.get(baseline.$primary, 100),
  secondary: map.get(baseline.$secondary, 30),
  on-secondary: map.get(baseline.$secondary, 100),
  secondary-container: map.get(baseline.$secondary, 40),
  on-secondary-container: map.get(baseline.$secondary, 100),
  tertiary: map.get(baseline.$tertiary, 30),
  on-tertiary: map.get(baseline.$tertiary, 100),
  tertiary-container: map.get(baseline.$tertiary, 40),
  on-tertiary-container: map.get(baseline.$tertiary, 100),
  error: map.get(baseline.$error, 30),
  on-error: map.get(baseline.$error, 100),
  error-container: map.get(baseline.$error, 40),
  on-error-container: map.get(baseline.$error, 100),
  surface: map.get(baseline.$neutral, 98),
  on-surface: map.get(baseline.$neutral, 0),
  surface-variant: map.get(baseline.$neutral-variant, 90),
  on-surface-variant: map.get(baseline.$neutral-variant, 20),
  surface-container-highest: map.get(baseline.$neutral, 90),
  surface-container-high: map.get(baseline.$neutral, 92),
  surface-container: map.get(baseline.$neutral, 94),
  surface-container-low: map.get(baseline.$neutral, 96),
  surface-container-lowest: map.get(baseline.$neutral, 100),
  inverse-surface: map.get(baseline.$neutral, 20),
  inverse-on-surface: map.get(baseline.$neutral, 100),
  outline: map.get(baseline.$neutral-variant, 30),
  outline-variant: map.get(baseline.$neutral-variant, 50),
  primary-fixed: map.get(baseline.$primary, 40),
  on-primary-fixed: map.get(baseline.$primary, 100),
  primary-fixed-dim: map.get(baseline.$primary, 30),
  on-primary-fixed-variant: map.get(baseline.$primary, 100),
  inverse-primary: map.get(baseline.$primary, 80),
  secondary-fixed: map.get(baseline.$secondary, 40),
  on-secondary-fixed: map.get(baseline.$secondary, 100),
  secondary-fixed-dim: map.get(baseline.$secondary, 30),
  on-secondary-fixed-variant: map.get(baseline.$secondary, 100),
  tertiary-fixed: map.get(baseline.$tertiary, 40),
  on-tertiary-fixed: map.get(baseline.$tertiary, 100),
  tertiary-fixed-dim: map.get(baseline.$tertiary, 30),
  on-tertiary-fixed-variant: map.get(baseline.$tertiary, 100),
  surface-bright: map.get(baseline.$neutral, 98),
  surface-dim: map.get(baseline.$neutral, 87),
  scrim: map.get(baseline.$neutral, 0),
  shadow: map.get(baseline.$neutral, 0)
);

.light-medium-contrast {
  @include generator.generate-token($color-scheme, color);
}
